<div class="card">
  <div class="card-block">
    <div class="jumbotron text-sm-center">
      <h2>We make keeping track easy</h2>
      <p class="lead">Keep track of your to-do lists easily</p>
      <%= link_to 'View Tasks', tasks_path, class: 'btn btn-primary' %>
    </div>

    <h1 class="card-title">Welcome to Taskly!</h1>

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
